<div class="container mt-5">
  <div class="col-auto mb-4">
    <%= link_to "Back to the posts", posts_path, class: "btn-show btn-secondary btn" %>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h1 class="mb-0"><%= @post.title %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="content"><%= @post.content %></p>
      <p><%= link_to "To find the post", @post.url, class: "btn btn-primary" %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="mt-4">Comments</h2>
      <% if @comments.any? %>
        <div class="list-group mb-4">
          <% @comments.each do |comment| %>
            <div class="list-group-item">
              <p class="mb-1"><%= comment.content %></p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="no-comments">No comments yet. Be the first to comment!</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="mt-4">Add a comment</h2>
      <%= simple_form_for([@post, @comment]) do |f| %>
        <div class="form-group">
          <%= f.input :content, input_html: { class: 'form-control' } %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
